<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>"placeholder"</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div id="grid">
            <aside>
                <div class="icon">
                    <a href="/letters">
                        <img src="/images/mailbox_world-2.png" alt="letters" srcset="">
                        <p>letters</p>
                    </a>
                </div>
                <div class="icon">
                    <a href="">
                        <img src="" alt="" srcset="">
                        <p>placeholder</p>
                    </a>
                </div>
                <div class="icon">
                    <a href="">
                        <img src="" alt="" srcset="">
                        <p>placeholder</p>
                    </a>
                </div>
            </aside>
            <div class="windowsborder">
                <div class="window">
                    <div class="window-top">
                        <img src="" alt="">
                        <p>hmm.</p>
                        <div class="windowoptions">
                            <div class="somethin">
                                <div class="button"><p>h</p></div>
                                <div class="button"><p>h</p></div>
                            </div>
                            <div class="notsomethin">
                                <div class="button"><p>h</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="taskbar">
                        <p>File</p>
                        <p>Edit</p>
                        <p>Format</p>
                        <p>Help</p>
                    </div>
                </div>
            </div>
        