<!DOCTYPE html>
<html>
    <head>
        <title>stop, criminal scum!</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <p>then pay with your blood.</p>
    </body>
</html>