<%- include('./partials/header'); -%>
<h1>stop! you have violated the law!</h1>
<p>pay the court a fine or serve your sentence!</p>
<p><a href="/login">pay your fine</a></p>
<p><a href="/bet">dont do anything</a></p>
<%- include ('./partials/footer'); -%>