<!DOCTYPE html>
<html>
    <head>
        <title>stop, criminal scum!</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h1>stop right there criminal scum!</h1>
        <p>log tf in lmao</p>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="username" autocomplete="username">
            <input type="password" name="password" placeholder="password" autocomplete="current-password">
            <button type="submit">login</button>
        </form>
        <!-- big secret here!! the username for craig is "crtaig", and the password is "backAtThePizzaHut666". but the username for nico is "nico" and the password is "backAtTheTacoBell666" -->
    </body>
</html>