<!DOCTYPE html>
<html>
    <head>
        <title>new letter</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h1>write your leter</h1>
        <p>the letter</p>
        <form action="/letters" method="POST">
            <input type="date" name="date" id="">
            <textarea name="cont" id="cont"></textarea>
            <input type="text" name="recipient" id="recipienttxt">
            <button type="submit">send</button>
        </form>
    </body>
</html>