<!DOCTYPE html>
<html>
    <head>
        <title>ok we good</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1>Which Present Would You Like To Open?</h1>
        <ul>
            <li>letters to crtaig</li>
            <li>uhhhh</li>
            <li>something</li>
            <%= parsedData['weather'][0][id] %>
        </ul>
    </body>
</html>